@import './variables.module.scss';

.home-carousel-wraper {
  min-width: 500px;

  .carousel-item {
    border-radius: $border-radius-base;
    overflow: hidden;
    position: relative;
  }

  .image {
    height: 60vh;
    max-height: 100%;
    object-fit: cover;

    @media screen and(min-width: 480px) {
      max-height: 495px;
      width: 100%;
    }
  }

  .carousel-caption {
    left: 50px;
    top: 100px;
    text-align: left;
    right: unset;
    max-width: 300px;
    position: absolute;
    color: #fff;

    h3 {
      font-size: 46px;
      font-weight: 600;
      color: inherit;
    }

    .sub-title {
      font-size: 18px;
      margin-bottom: 2em;
      color: inherit;
    }

    @media screen and (min-width: 768px) {
      left: 100px;
    }
  }
}