@import './variables.module.scss';

.total-item {
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  background: $second-color;
  font-size: 13px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.cart-dropdown {
  display: flex;
  align-items: center;

  .cart-total-cost {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .cart-total-text {
      color: $dark-color;
    }
  }

  .dropdown-menu-content {
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    width: 400px;
    max-height: 80vh;
    overflow: auto;

    h3 {
      font-size: 20px;
      margin: 0;
      font-weight: bold;
      text-align: center;
    }
  }
}

.cart-preview {
  margin-bottom: 20px;

  .remove-icon {
    cursor: pointer;
    font-size: 24px;

    &:hover {
      color: $second-color;
    }
  }

  .product-img {
    width: 50px;
    height: 50px;
  }

  .second {
    padding-top: 20px;
    border-top: 1px solid $gray-color;

    .subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .total-price {
        font-size: 24px;
        color: $third-color;
      }
    }

    .view-cart-link {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
    }
  }
}

.cart-preview-bottom {
  padding: 15px;
  background: $second-color;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

// .cart detail
.cart-detail {
  img {
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
  }

  table {
    width: 100%
  }

  thead {
    background: #F8F8F8;
    letter-spacing: 0.1em;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  th {
    padding: 20px 0;
    vertical-align: middle;
    text-align: left;
  }

  td {
    padding: 10px 0;
    vertical-align: middle;
    font-size: 16px;
  }

  tr:nth-child(even) {
    background-color: #fbfbfb;
  }

  .remove-icon {
    cursor: pointer;

    &:hover {
      color: $third-color;
    }
  }

  .cart-summary {
    .title {
      letter-spacing: 0.1em;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
    }

    .summary-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid $gray-color;

      &:nth-last-child(1) {
        border: none;
      }
      .highlight {
        color: $second-color;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}