@import './variables.module.scss';

.category-list {
  display: block;
  position: relative;
  width: 100%;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    flex: 0 0 300px;
    width: 300px;
  }

  ul {
    .category-item {
      display: flex;
      align-items: center;
      height: 55px;
      border-bottom: 1px solid $gray-color;
      border-right: 1px solid $gray-color;
      border-left: 1px solid $gray-color;
      transition: all ease-in-out 0.1s;

      &:nth-of-type(1) {
        border-top: 1px solid $gray-color;
      }

      &:hover {
        background: $gray-color;

        &>.sub-category-list {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }

        .category-link {
          color: #000;
        }
      }

      .category-link {
        padding: 10px;
        width: 100%;
        position: relative;
        font-size: 13px;
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        color: #000;

        .icon {
          margin-inline-end: 0.75em;
        }

        .sub-menu {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(-50%, -10px);
          line-height: initial;
        }
      }
    }
  }

  .sub-category-list {
    position: absolute;
    left: 100%;
    top: -1px;
    background: #fff;
    min-width: 800px;
    min-height: 200px;
    z-index: 100;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.05);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    visibility: none;
    pointer-events: none;
    opacity: 0;

    .sub-category-block {
      display: flex;
      margin: 15px;

      .sub-cat-title {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
      }

      .category-img {
        padding: 0 10px 10px 10px;
      }

      img {
        width: 200px;
      }

      li {
        margin-bottom: 10px;
      }

      .link {
        color: #000;
      }
    }
  }
}
