@import './variables.module.scss';

.top-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-color;

  .right-side {
    display: inline-flex;

    .filter-item {
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: space-between;
      border-left: 1px solid $gray-color;

      &:first-of-type {
        border: none;
        padding: 0 0 0 10px;
      }

      .show-text {
        color: $dark-color;
        padding-left: 10px;
      }
    }

    .grid-icon {
      font-size: 20px;
      margin-left: 15px;
    }

    .list-icon {
      font-size: 20px;
      margin-left: 15px;
    }
  }
}

.left-filter {
  width: 100%;
  padding-bottom: 40px;

  @media screen and (min-width: 780px) {
    width: $category-desktop-width;
  }

  .filter-item {
    padding-right: 15px;

    .title {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  img {
    width: 100%;
    border-radius: $border-radius-base;
  }

  h5 {
    margin: 0;
    padding-top: 25px;
  }

  .price-slider {
    width: 100%;

    .text-price {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 20px;
      font-size: 14px;

      .text {
        color: $dark-color;
      }
    }
  }

  .color-options {
    label {
      width: 45%;
    }
  }
}