@import './variables.module.scss';
@import './utils.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html,
body {
  max-width: 100vw;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

main {
  padding-bottom: 40px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.reset-link-style {
  color: inherit;
  transition: inherit;

  &:hover {
    color: inherit
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 40px;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    margin-left: 5px;
  }
}

.logo.white {
  color: #fff;
}

.logo.black {
  color: #000;
}

.link-animated {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.320, 1);
  }

  &:hover {
    color: $text-hover-color;

    &:before {
      transform-origin: left center;
      transform: scaleX(1);
    }
  }
}


a:hover,
a:focus {
  text-decoration: none;
  color: $text-hover-color;
}

* {
  box-sizing: border-box;
}

#wrap {
  position: relative;
}

.list-style-none {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pos-rel {
  position: relative;
}

.link-badge {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  position: relative;
  margin-top: -15px;
  text-transform: uppercase;

  &::before {
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: inherit;
    opacity: 0.1;
  }
}

.link-badge.orange {
  color: $second-color;

  &::before {
    background-color: $second-color;
  }
}

.link-badge.red {
  color: $third-color;

  &::before {
    background-color: $third-color;
  }
}

.link-badge.green {
  color: $green-color;

  &::before {
    background-color: $green-color;
  }
}

.carousel {
  .carousel-item {
    border-radius: $border-radius-base;
    overflow: hidden;
  }
}

.btn-circle {
  border-radius: 7em;
  font-size: 13px;
  background: #fff;
  color: #000000;
  display: inline-flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  justify-content: center;
  text-align: center;
  font-weight: 600;

  &:hover {
    background: #000;
    color: $gray-color;
  }

  svg {
    margin-left: 7px;
    font-size: inherit;
  }
}

.btn-circle.small {
  padding: 0.6em 1.5em;
  font-size: 12px;

  svg {
    font-size: 18px;
  }
}

.btn-circle.medium {
  padding: 0.8em 1.6em;
  font-size: 13px;

  svg {
    font-size: 18px;
  }
}

.btn-circle.large {
  padding: 1em 2.1em;
  font-size: 14px;
}

.btn-circle.transparent {
  background: transparent;
  border: 2px solid $gray-color;

  &:hover {
    border-color: #000;
    background: #000;
  }
}

.btn-circle.black {
  background: #000;
  color: #fff;

  &:hover {
    background: $second-color;
  }
}


.btn-circle.gray {
  background: $gray-color;

  &:hover {
    background: #000;
    color: #fff;
  }
}

.slick-prev,
.slick-next {
  background: rgb(245, 247, 252);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #000;
  font-size: 18px;

  &:hover {
    color: #fff;
    background: #000;
  }

  &:before,
  &:before {
    display: none;
  }

  @media screen and (max-width: 768px) {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}

.slick-slide>div {
  height: 100%;
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.devider {
  min-height: 15px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.time-counter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.highlight {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: $second-color;

  &:nth-child(1) {
    margin: 0 10px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .time-counter {
    justify-content: flex-end;
    margin: 0;
  }

  .highlight {
    font-size: 32px;
    margin: 0 10px;
  }
}

.product-top-filter .ant-select-selection-item {
  text-align: right;
}

.image-gallery-thumbnail {
  width: 60px;
}


.image-gallery-thumbnail img {
  width: auto;
  height: 60px;
  object-fit: cover;
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  padding: 3px;
}
