@import './variables.module.scss';

.main-header {
  color: $primary-color;

  .top-header {
    border-bottom: 3px solid $green-color;
  }
}

.main-header {
  .header-logo {
    padding: 20px 0;
    img {
      height: 50px;
    }
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .header-module {
    position: relative;
    margin-inline-start: 25px;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle-item {
      width: 48px;
      height: 48px;
      font-size: 20px;
      border-radius: 50%;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid;
        opacity: 0.15;
        border-radius: inherit;
      }
    }

    .wishlist .circle-item {
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: #000;
        color: #fff;

        &:before {
          color: #fff;
          opacity: 1;
          border-color: #000;
        }
      }
    }

    .my-account {
      display: flex;
      align-items: center;
      .downdown-icon {
        font-size: 18px;
      }

      .dropdown-menu-content {
        width: 210px;
        padding: 20px 30px;
        border: 1px solid $border-color;
        border-radius: $border-radius-base;

        ul {
          li {
            position: relative;
            margin-bottom: 5px;

            a {
              position: relative;
              color: #000;
            }
          }
        }
      }
    }
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .header-search-wrapper {
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }

  .header-search-product {
    position: relative;
    display: flex;
    height: 45px;
    align-items: center;
    border-radius: 50px;
    background: #f4f8fa;
    font-size: 0.929em;
    font-weight: 500;
    min-width: 30vw;
    margin: auto;

    input {
      background: none;
      border: none;
      outline: none;
      padding: 0 30px;
      width: 90%;
    }

    .search-icon {
      font-size: 18px;
    }
  }
}

.head-col {
  display: flex;
  // width: 100%;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
}


// Header Categories
.header-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 600;

  .left-side {
    .toggle-categories {
      width: 280px;
      font-size: 14px;
      display: flex;
      align-items: center;
      svg {
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }

  .right-side {
    //
  }

  ul li {
    display: inline-flex;
    align-items: center;
    padding: 15px 0 15px 30px;

    .link {
      color: #000;
      &:hover {
        color: $text-hover-color;
      }
    }
  }
}



// Mobile
.main-mobile-header {
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  justify-content: space-between;
  width: 100%;
  position: relative;

  .mobile-header-item {
    display: flex;

    .left-item {
      padding: 2px;
      margin: 8px;
      font-size: 26px;
    }

    .right-item {
      font-size: 26px;
      padding: 15px;
    }
  }

  .mobile-header-item.right-side {
    justify-content: flex-end;
  }

  .mobile-search-input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: flex;
    height: 50px;
    z-index: 10000;

    input {
      padding-inline-start: 1em;
      padding-inline-end: 1em;
      flex-grow: 1;
      padding: 0.5em 1em;
      font-size: 14px;
      border: none;
      outline: none;
    }

    button {
      background-color: $second-color;
      color: #fff;
      border-radius: 0;
      outline: none;
      padding: 10px;
      border: none;
      width: 60px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 20px;
    }
  }
}

.empty-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  .spinner-border {
    font-size: 12px;
  }
}