@import './variables.module.scss';

.product-countdown {
  border: 1px solid $gray-color;
  border-radius: $border-radius-base;
  padding: 20px;
  text-align: left;

  @media screen and (min-width: 768px) {
    padding: 4vw 6vw;
  }
  
  img {
    max-width: 100%;
  }
  .title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .sub-title {
    margin-bottom: 25px;
    font-size: 18px;
  }
  .countdown {
    margin-bottom: 40px;
    & > div {
      justify-content: start;
    }    
  }
}