@import './variables.module.scss';

.product-item {
  border-radius: $border-radius-base;
  padding: 1.5em;
  font-size: 16px;
  border: 1px solid $gray-color;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  .label {
    position: absolute;
    background: $third-color;
    padding: 5px 10px;
    border-radius: $border-radius-base;
    color: #fff;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 600;
  }
  .title {
    font-size: 15px;
    font-weight: 600;
  }
  figure {
    img {
      max-width: 100%;
    }
    margin-bottom: 20px;
  }
  .product-category {
    color: $gray-text;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .product-price {
    font-weight: 600;
    margin-bottom: 20px;
    .old-price {
      color: $gray-text;
      margin-right: 6px;
      text-decoration: line-through;
    }
    .current-price {
      color: $third-color;
    }
  }
  .btn-circle {
    justify-content: center;
    border: 2px solid $gray-color;
    font-size: 16px;
    &:hover {
      border-color: #000;
    }
  }
}

.product-preview {
  position: relative;
  background-size: cover;
  border-radius: $border-radius-base;
  height: 100%;
  min-height: 400px;
  .caption {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #fff;
    width: 70%;
    text-align: center;
    h2 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}