@import './variables.module.scss';

.product-item {
  border-radius: $border-radius-base;
  padding: 1.5em;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  height: 100%;
  border: none;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    border: 1px solid $gray-color;
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    background: $third-color;
    padding: 2px 6px;
    border-radius: $border-radius-base;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
  }

  .title {
    line-height: 24px;
    a {
      font-size: 15px;
      color: #000;
      line-height: 10px;
    }
  } 

  figure {
    img {
      width: 100%;
      object-fit: cover;
      margin: auto;
    }

    margin-bottom: 8px;
  }

  .product-brands {
    color: $gray-text;
    font-size: 13px;
  }

  .product-price {
    font-weight: 600;
    margin-bottom: 10px;

    .old-price {
      color: $gray-text;
      margin-right: 6px;
      text-decoration: line-through;
      font-size: 13px;
    }

    .current-price {
      color: $third-color;
    }
  }

  button:hover {
    background: $second-color;
    border: 1px solid $second-color;
    color: #fff;
  }

  .product-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
}


// product-banner
.product-banner {
  background: rgb(234 234 232);
  height: 520px;
  background-position: center;
  background-size: cover;
  border-radius: $border-radius-base;

  .content {
    position: absolute;
    top: 8%;
    left: 15%;
    right: 15%;
    text-align: center;
    max-width: 400px;
    color: #fff;

    @media screen and (min-width: 768px) {
      top: 35%;
      left: 10%;
      right: unset;
      transform: translate(-10%, -35%);
      text-align: left;
    }

    h2 {
      color: inherit;
    }

    .sub-title {
      margin-bottom: 50px;
      font-size: 18px;
    }
  }
}

.product-countdown {
  border: 1px solid $gray-color;
  border-radius: $border-radius-base;
  padding: 20px;
  text-align: left;

  @media screen and (min-width: 768px) {
    padding: 4vw 6vw;
  }

  img {
    max-width: 100%;
  }

  .title {
    margin-bottom: 20px;
  }

  .sub-title {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .countdown {
    margin-bottom: 40px;

    &>div {
      justify-content: start;
    }
  }
}

.product-preview {
  position: relative;
  background-size: cover;
  border-radius: $border-radius-base;
  height: 100%;
  min-height: 350px;
  margin-bottom: 20px;

  .caption {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #fff;
    width: 70%;
    text-align: center;

    h3 {
      margin-bottom: 24px;
      color: inherit;
    }
  }
}

.product-carousel-heading {
  margin-bottom: 10px;

  &>div {
    align-items: center;
  }

  a {
    color: #000;
  }
}

.product-quantity-control {
  display: flex;
  border: 1px solid $gray-color;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  max-width: 150px;
  border-radius: $border-radius-base;

  input {
    width: 50px;
    border: none;
    outline: none;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  svg {
    cursor: pointer;
    font-size: 18px;

    &:hover {
      color: $second-color;
    }
  }
}


// product details
.product-detail {
  background-color: #fff;
  border-radius: $border-radius-base;
  padding: 1.25rem;

  .product-meta {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .wishlist-icon {
    cursor: pointer;
    color: $dark-color;
    &:hover {
      color: $third-color;
    }
  }

  .wishlist-icon.active {
    color: $third-color
  }

  .product-sku {
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    padding: 2.5rem;
  }
}

.product-description {
  color: 16px;

  .content {
    font-size: 16px;
  }

  table {
    width: 100%;

    th,
    td {
      border: 1px solid $gray-color;
      padding: 8px;
      text-align: left;
      font-size: 16px;
    }
  }
}