@import './variables.module.scss';

.product-item {
  border-radius: $border-radius-base;
  padding: 1.5em;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  height: 100%;
  border: none;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    border: 1px solid $gray-color;
  }
  .label {
    position: absolute;
    background: $third-color;
    padding: 5px 10px;
    border-radius: $border-radius-base;
    color: #fff;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 600;
  }
  .title {
    font-size: 15px;
    font-family: 'Jost';
  }
  figure {
    img {
      max-width: 100%;
      max-height: 200px;
      object-fit: cover;
      margin: auto;
    }
    margin-bottom: 20px;
  }
  .product-category {
    color: $gray-text;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .product-price {
    font-weight: 600;
    margin-bottom: 20px;
    .old-price {
      color: $gray-text;
      margin-right: 6px;
      text-decoration: line-through;
    }
    .current-price {
      color: $third-color;
    }
  }
  .btn-circle {
    justify-content: center;
    border: 2px solid $gray-color;
    font-size: 16px;
    &:hover {
      border-color: #000;
    }
  }
  .product-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
}
