@import './variables.module.scss';

.service-wrapper {
  display: flex;
  align-items: stretch;
  margin-top: 30px;

  .service-block {
    padding: 25px;
    flex: 1;
    border: 1px solid $gray-color;
    border-left: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-weight: 700;
    font-size: 13px;
    svg {
      color: $second-color;
      font-size: 24px;
      margin-right: 10px;
    }
  }

  .service-block:first-child {
    border-left: 1px solid $gray-color;
  }
}