@import './variables.module.scss';

.trending-product {
  .slide-block {
    position: relative;
    border-radius: $border-radius-base;
    overflow: hidden;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

    .overlay {
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .caption {
      max-width: 200px;
      text-align: left;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-20%, -50%);
      z-index: 10;

      h4 {
        font-size: 24px;
        margin-bottom: 30px;
        color: inherit;
        font-weight: normal;
      }
    }
  }
}