$primary-color: #000000;
$second-color: #f84419;
$third-color: #e82d2d;
$dark-color: #00000066;
$gray-color: #e8e8e8;
$light-gray-color: #f5f5f7;
$green-color: #22da85;
$border-color: #0000001a;
$text-hover-color: #00000080;

$border-radius-base: 4px;
$gray-text: #00000066;

:export {
  primaryColor: $primary-color
}